form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}
form mat-form-field {
  width: 300px;
  margin-top: 10px;
}
form .error {
  font-size: 16px;
  border-bottom: 2px solid rgb(255, 146, 146);
}
form .submit {
  width: 300px;
  margin-top: 20px;
  font-size: 30px;
  background-color: green;
  color: white;
}
form .submit:hover {
  background-color: rgb(0, 172, 0);
  cursor: pointer;
}
form .message {
  margin-top: 10px;
  color: white;
  font-size: 18px;
}

