<form [formGroup]="applyForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Lastname</mat-label>
    <input formControlName="lastname" matInput>
    <mat-hint style="color: red;" *ngIf="applyForm.get('lastname')?.touched && applyForm.get('lastname')?.hasError('required')">
      Lastname is required
    </mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date of birth</mat-label>
    <input formControlName="date" matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>FE Technology</mat-label>
    <mat-select formControlName="tech">
      <mat-option value="react">React</mat-option>
      <mat-option value="angular">Angular</mat-option>
      <mat-option value="vue">Vue.js</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Version</mat-label>
    <input formControlName="version" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Hobbies(,)</mat-label>
    <input formControlName="hobbies" matInput>
  </mat-form-field>
  <button type="submit" class="primary">Submit</button>
</form>
